h2{
    color:red;
  }
  p{
            color: crimson;
           }

           #p1{
                 color: gold;
           }
           .para{
                 color:lime;
           }
           
           body{
                  background-image: url("gray color.jpg");
           }
  

    