@font-face {
      font-family: ABC;
      src: url(Doland-Regular.otf);

}
@font-face {
      font-family: ABG;
      src: url(norwester.otf);
}
h2{
    color:red;
    font-family: ABC;
  }
  p{
            color: crimson;
            font-family:ABG ; 
           }

           #p1{
                 color: gold;
           }
           .para{
                 color:lime;
           }
           
           body{
                  background: rgba(0,0,0,0.2) ;
           }

           table{
                 table-layout: auto;
                 border: 1px solid whitesmoke;
                 width: 100%;
                 height: 50%;
            }
            
            th{
                  border: 1px solid whitesmoke ;
                  color: cyan;
                  width: 10px;
            }     

           td{
                 border: 1px solid whitesmoke;
                 text-align: center;
                 width: 10px;
           }

           .data{
                  color: whitesmoke;
           }
  
 caption{
        border: 1px solid whitesmoke;
          caption-side:bottom;
          text-align:center ;
          color: darkred;
 }
    