:root{
      --primary-color:teal;
     
}


@font-face {
      font-family: ABC;
      src: url(Doland-Regular.otf);

}
@font-face {
      font-family: ABG;
      src: url(norwester.otf);
}
h2{
    color:red;
    font-family: ABC;
  }
  p{
            color: var(--primary-color );
            font-family:ABG ; 
           }

           #p1{
                 color: gold;
                 overflow: scroll;
           }
           .para{
                 color:lime;
                 width: calc (100%-10px ) ;
           }
           
           body{
                  background: rgba(0,0,0,0.5) ;
           }

           table{
                 table-layout: auto;
                 border: 1px solid whitesmoke;
                 width: 100%;
                 height: 50%;
                 box-sizing: border-box;
            }
            
            th{
                  border: 1px solid whitesmoke ;
                  color: cyan;
                  width: 10px;
            }     

           td{
                 border: 1px solid whitesmoke;
                 text-align: center;
                 width: 10px;
           }

           .data{
                  color: whitesmoke;
           }
  
 caption{
        border: 1px solid whitesmoke;
          caption-side:bottom;
          text-align:center ;
          color: darkred;
 }
    ol{
          list-style-type:upper-roman;
          border: 1px dashed;
          cursor: pointer;
    }

    ul{
          list-style-type:upper-alpha;
          border: 1px dashed;
    }
    #pop{
   text-shadow: 10px 10px aqua ;
   resize: both;
}
   #space{
           letter-spacing: 10px;
           text-shadow: 10px 10px 5px rgb(243, 242, 239);
}

   a{
       text-decoration: none;  
   }

  a:link {
      color: lime;
   }

a:visited{
           color:red
}

a:hover{
         color:rgb(37, 36, 139)

}

a:active{



           color:yellowgreen
} 
 
#para2{
         word-spacing: 50px; 
}

#div1 {
    background-image: linear-gradient(red, yellow);
    filter:opacity(2);
  }
  #para3{
         overflow:scroll;
         overflow:visible;
  }

  .img{
        object-fit: cover;
        object-position: 50px;
  }

  .red{
        color: red;
  }

  .green{
         color: rgb(37, 253, 8);
  }

  .blue{
        color: blue;
  }
  

  .inherit{
            color: inherit;
  }
  
  .initial{
            color:initial;
  }

  li:first-child{
        color:#810e0e;
  }
  
  li:nth-child(2){
        color:cyan;
  }
  
    li:nth-child(3){
        color:burlywood;
  }

  li:last-child{
          color:magenta
  }

  textarea:focus{
             border: 10px solid gray
  }
.para::first-letter{
      font-size: 50px;
      color: red;
}